--indent 4
--commas inline
--disable trailingCommas
--allman false
--wraparguments before-first
--wrapcollections before-first
--linebreaks lf
--trimwhitespace always
--self remove
--header strip
--ifdef no-indent
--stripunusedargs unnamed-only
--exponentcase lowercase
--operatorfunc spaced
--ranges no-space
--semicolons never
--swiftversion 5.7
--comments ignore
