<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Мы используем Face ID для подтверждения вашей личности.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Gilroy-Semibold.ttf</string>
		<string>Gilroy-Bold.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Montserrat.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict>
			<key>SplashScreen</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
